.main_color_bcg {
    background: #25A9E1;
}
.jwr__title {
    font-size: 40px
}
.slider-inner {
    position: relative;
    overflow: inherit;
}
.slider-element {
    overflow: initial;
    padding-top: 100px;
    position: initial;
}
.jwr_list {
    margin-bottom: 5px !important;
}
.fixHeader {
    background: #25A9E1;
    position: fixed;
    z-index: 9999;
    width: 100%;
    top: 0;
    padding: 20px 0;
    box-shadow: 0px 2px 25px 2px rgb(135 135 135 / 58%);
}
.fixHeader__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topheader__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}
.fixHeader__logo img {
    height: 65px;
}
.fixHeader__btn a {
    margin-top: 0!important;
}
.topheader__phone svg {
    width: 18px;
}
img.card_img {
    margin-bottom: 15px;
}
.jwr__u_card h2 {
    text-align: center;

}
.jwr__u_desc {
    text-align: left;
    color: #555 !important;
}
.jwr__u_desc strong {
    background: #25a9e1;
    padding: 5px 10px;
    color: #fff;
    font-size: 25px;
}
.pricing-table .card h2 {
    font-size: 30px;
}
.jwr__fi {
    background-color: rgba(255, 255, 255, 0) !important;
}
.feature-box.media-box {
    align-items: center;
    text-align: center;
}
footer#footer {
    padding-top: 75px;
}
i.icon-line-circle-minus.color:before {
    color: #b10101;
}
#logo {
    flex-wrap: wrap;
    
}
.time_work {
    text-align: center;
    width:100%;
    display:inline-block;
    margin-top: -13px;
}
header#header {
    padding: 10px 0;
    position: fixed;
    width: 100%;
    background: #25a9e1 !important;
    z-index: 999;
}
.header__info {
    padding-right: 13px;
    width: 450px;
    box-sizing: border-box;
}
.topheader__phone a {
    color: #fff;
    font-size: 22px;
}
div#header-wrap span {
    color: #fff;
}
.img_tup {
    display: flex;
    justify-content: center;
}
.two_tup {
    margin-top: 210px;
}
.last_tup {
    margin-top: 350px;
}
img.card_img {
    height: 540px;
}
.tup_col1 {
    text-align: right;
}
.tup {
    margin-top: 50px;
}
@media (max-width:768px) {
    .fixHeader {
        display: none !important;
    }
    .topheader {
        display: none;
    }
    #header-wrap {
        background-color: #30ade2;
        padding: 10px 0;
        position: fixed;
        z-index: 99;
    }
    #logo {
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .header__info {
        width: 100%;
    }
    .topheader__phone {
        display: flex;
        justify-content: center;
    }
    .topheader__desc {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    nav.not-dark.with-arrows {
        width: 100%;
    }
    nav.not-dark.with-arrows div {
        display: flex;
        justify-content: space-between;
    }
    div#header-wrap {
        padding: 22px 0;
    }
    
    .slider-element {
        padding-top: 316px;
    }
}